
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Digital Library - Home</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">
</head>

<body>

<div class="home-container">

    <div class="home-box">

        <h1>📚 Digital Library</h1>

        <h2>Welcome!</h2>

        <p>
            You have successfully logged in.
        </p>

        <div class="home-buttons">

            <a th:href="@{/user/dashboard}"
               class="home-btn">
                User Dashboard
            </a>

            <a th:href="@{/admin/dashboard}"
               class="home-btn">
                Admin Dashboard
            </a>

            <form th:action="@{/logout}"
                  method="post">

                <button type="submit"
                        class="logout-btn">
                    Logout
                </button>

            </form>

        </div>

    </div>

</div>

</body>
</html>

